---
export const prerender = true;
import Layout from "@layouts/Layout.astro";
import SiDiscord from "svelte-icons-pack/si/SiDiscord";

import {getCollection, getEntryBySlug} from "astro:content";
import Heading from "@components/Text/Heading.svelte";
import Link from "@components/Text/Link.svelte";
const team = await getCollection("team");
const globals = await getEntryBySlug("globals", "globals")
---

<Layout title="Rezepte">
  <main class="">
    <div class="container mx-auto">
      {globals?.data?.description && (
        <div class="max-w-screen-lg mx-auto flex flex-col justify-center">
          <div class="text-4xl font-serif !leading-snug font-extrabold break-all md:break-normal">
            <Fragment set:html={globals.data.description} />
          </div>
          <Link
            class="my-8 mx-auto"
            target="_blank"
            href="https://discord.com/invite/66J8zgj2DE"
            text="Join our Discord"
            vColor="secondary"
            icon={SiDiscord}
          />
        </div>


      )}
      {/*<Heading text="Team" tag="h1" vSize="mega"/>*/}
      {/*<Link*/}
      {/*  href="#test"*/}
      {/*  text="Details"*/}
      {/*/>*/}

    </div>
  </main>
</Layout>
